@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: "Inter", sans-serif;
    margin: 0;
    background-color: #FFFEF5;
}

#rangi {
    background: linear-gradient(#E1F7F3,#E1F7F3, #FFFEF5);
    margin: 0;
    width: 85vw;
    height: 100vh;
    margin-left: 14vw;
  }

  #rangi h1 {
    font-size: 5.2vw;
    width: 52.1vw;
    padding-top: 37vh;
    padding-left: 5.2vw;
    position: absolute;
  }

  #rangi img {
    width: 52.1vw;
    margin-left: 26vw;
    margin-top: 10vh;

  }

ul {
    list-style-type: none;
    margin: 0;
    margin-top: 0;
    padding: 0;
    width: 14vw;
    background-color: #ffffff;
    position: fixed;
    height: 100%;
    overflow: auto;
    font-size: 0.8vw;
}

ul img {
    width: 12vw;
    margin-left: 0.5vw;
    margin-top: 0.5vw;
}

ul h2 {
    margin-left: 0.5vw;
    margin-bottom: 1vw;
    font-size: 0.9vw;
}

li {
    display: flex;
    align-items: center; 
    padding: 0.05vw;
    padding-left: 0.5vw;
    width: 13vw;
}

li img {
    width: 1.25vw;
    margin-left: 0;
    margin-right: 0.5vw; 
}

li a {
    display: flex;
    align-items: center; 
    color: #000;
    padding: 0.4vw 0.8vw;
    text-decoration: none;
    border-radius: 0.5vw;
    margin-top: auto;
    margin-bottom: auto;
    width: 100%; 
}

li a.active {
    background-color: #F7F7F7;
    color: black;
}

li a:hover:not(.active) {
    background-color: #F7F7F7;
    color: black;
}

#poem {
    margin-left: 0.5vw;
    margin-top: 0.75vw;
}

.blue {
    color: #76A5AF;
    margin: 0;
}

.translation {
    font-size: 0.6vw;
}

#header {
    width: 85vw;
    height:100vh; 
    background-image: url('resources/indexbg.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 1vw; 
    box-sizing: border-box; 
    position: absolute;
    left: 14vw; 
    top: 0;
}

#header img {
    width: 60vw;
}

#imgs {
    background-color: #ffffff;
    padding-top: 100vh;
    padding-left: 15vw;
}

#imgs img {
    margin: 0.3vw;
    width: 27vw;
}

#vision {
    height: 100vh;
    background-color: #F2ECE7;
    display: flex;
}

#vision2 {
  height: 100vh;
  display: flex;
}

#box {
    background-color: #1C7A74;
    height: 100vh;
    width: 35vw;
    margin-left: 14vw;
}

#box h1 {
    padding-left: 5vw;
    font-size: 5vw;
    color: #FFFFFF;
    padding-bottom: 20vw;
}

.dotl {
    height: 0.5vw;
    width: 0.5vw;
    background-color: #F2ECE7;
    border-radius: 50%;
    display: inline-block;
    margin: 0.75vw;
  }

#dotleft {
  padding-left: 2vw;
  padding-top: 5vh;
}

.dotr {
  height: 0.5vw;
  width: 0.5vw;
  background-color: #1C7A74;
  border-radius: 50%;
  display: inline-block;
  margin: 0.75vw;
}

#dotright {
  padding-left: 35vw;
  padding-top: 5vh;
}

#info {
  background-color: #ffffff;
  width: 50vw;
  height: 50vh;
  margin-top: 40vh;
  margin-left: 44vw;
  position: absolute;
}

#info h1 {
  padding-left: 2.6vw;
  padding-right: 2.6vw;
  padding-top: 7.4vh;
  font-size: 2.3vw;
}

#footer {
  background-image: url("resources/footer.png");
  background-size: cover;
  position: absolute;
  height: 17vh;
  left: 14vw;
  width: 85vw;
}

#footerrangi {
  background-image: url("resources/footer.png");
  background-size: cover;
  position: absolute;
  height: 17vh;
  left: 14vw;
  width: 85vw;
  margin-top: 120vh;
}

.text {
  background-color: #ffffffe5;
  color: black;
  font-size: 8.11vw; 
  font-weight: bold;
  position: absolute;
  mix-blend-mode: screen;
  text-decoration: none;
}

.text a {
  color: black;
  text-decoration: none;
}

#real {
  background-color: #ffffffe5;
  width: 85vw;
  height: 22.6vh;
  top: 17.4vh;
  position: absolute;
}

#desc {
  margin-left: 15.6vw;
  width: 67.7vw;
}

#desc h1 {
  font-size: 1.6vw;
}

#desc p {
  font-size: 1.1vw;
  font-weight: 200;
  padding-bottom: 1.6vw;
}

span {
  color: #00C4C4;
  font-weight: 500;
}

#gallery {
  padding-left: 13.5vw;
  flex-wrap: wrap;
  position: relative;
}

#gallery img {
  float: left;
  padding: 0.3vw;
  position: relative;
}

#gallery2 {
  padding-left: 13.5vw;

}

#gallery2 img {
  float: right;
  padding: 0.3vw;
  position: relative;
}

#img {
  background-color: #ffffff;
  width: 51vw;
  height: 56vh;
  margin-top: 33vh;
  margin-left: 44.3vw;
  position: absolute;
}

#img img {
  width: 50vw;
  padding-left: 0.5vw;
  padding-top: 0.5vw;
}


#box2 {
  background: linear-gradient(#1C7A74,#1C7A74,#FFFEF5) ;
  height: 100vh;
  width: 35vw;
  margin-left: 14vw;
}

#box2 h1 {
  padding-left: 5vw;
  font-size: 4.5vw;
  color: #FFFFFF;
  padding-bottom: 2vw;
}
